@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neutral: var(--neutral);
  --color-primary: var(--primary);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
}

:root {
  /* --background: #f5f5f5; */
  --background: #e9e9e9;
  --foreground: #171717;
  --neutral: #ffffff;
  --primary: #fb732d;
  --primary-gradient: 146deg, #fb732d, #ff9c6b;
}

@keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
  }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
  }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
  }
}

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.blog {
  @apply flex flex-col text-sm font-medium;
}

.blog p {
  @apply mb-3 md:mb-4 leading-6;
}

.blog h6 {
  @apply font-semibold md:font-bold text-base mb-1;
}

.blog ul {
  @apply pl-4 list-disc flex flex-col gap-2 mb-3 md:mb-4;
}

.page-loader {
  background-image: linear-gradient(rgb(13, 18, 28) 60%, transparent 100%),
    radial-gradient(#83e6f71d 1px, transparent 1px),
    radial-gradient(#83e6f71d 1px, transparent 1px);
  background-position: 0 0, 0 0, calc(20px / 2) calc(20px / 2);
  background-size: 100% 100%, 20px 20px, 20px 20px;
  background-color: rgb(13, 18, 28);
}
