@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neutral: var(--neutral);
  --color-primary: var(--primary);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
}

@keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
  }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
  }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
  }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
  }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
  }
}

:root {
  --background: #f4f3f0;
  --foreground: #1f1f1f;
  --neutral: #ffffff;
  --primary: #b6ef45;
  --primary-gradient: 146deg, #8aff60, #bfff41;
}

@layer base {
  html,
  body {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  .container-main {
    @apply flex w-full lg:max-w-5xl xl:max-w-7xl mx-auto px-4 md:px-6;
  }
  .page-container {
    @apply flex flex-col py-[48px] lg:py-[96px] xl:py-[164px] gap-[48px] lg:gap-[96px] xl:gap-[164px];
  }
}

.blog {
  @apply flex flex-col text-sm font-medium;
}

.blog p {
  @apply mb-3 md:mb-4 leading-6;
}

.blog h6 {
  @apply font-semibold md:font-bold text-base mb-1;
}

.blog ul {
  @apply pl-4 list-disc flex flex-col gap-2 mb-3 md:mb-4;
}

.page-loader {
  background-image: linear-gradient(rgb(13, 18, 28) 60%, transparent 100%),
    radial-gradient(#83e6f71d 1px, transparent 1px),
    radial-gradient(#83e6f71d 1px, transparent 1px);
  background-position: 0 0, 0 0, calc(20px / 2) calc(20px / 2);
  background-size: 100% 100%, 20px 20px, 20px 20px;
  background-color: rgb(13, 18, 28);
}